.item-card {
  width: 323px;
  height: 326px;
  display: flex;
  position: relative;
  cursor: pointer;
}

.item-card__img {
  border-radius: 12px;
  width: 100%;
}

.item-card__name {
  position: absolute;
  left: 38%;
  padding: 2px 12px;
  background-color: white;
  border-radius: 4px;
  margin-top: 15px;
}
