.item-cards {
  max-width: 1360px;
  width: 100%;
  padding: 0 40px;
  margin: 0 auto;
  box-sizing: border-box;
}

.item-cards__ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(323px, 1fr));
  gap: 21px;
  padding: 0;
  list-style: none;
}
