.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 32px 0 28px 0;
  padding: 0 40px;
  max-width: 1360px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
}

.header__signin-btn {
  margin-right: 20px;
}

.header__signin-btn .header__login-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header__logo {
  width: 89px;
  height: 40px;
  margin-right: 24px;
  margin-bottom: 5px;
}

.header__date-location {
  margin: auto auto auto 0;
}

.header__add-clothes {
  border: none;
  background: transparent;
  margin-right: 20px;
  padding: 0;
  cursor: pointer;
  font: inherit;
}

.header__user-name {
  margin: auto 12px auto 0;
}

.header__user-pfp {
  width: 40px;
  height: 40px;
  margin: auto 0 auto 0;
}

.header__signin-btn,
.header__login-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  font: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
}
