.modal__container_preview {
  border: solid 1px black;
  padding: 0;
  max-width: 498px;
  height: 610px;
  width: 100%;
  border-radius: 20px;
  background-color: #fff;
  position: relative;
}

.modal__image {
  border-radius: 12px;
}
/* 
.modal__header {
}

.modal__weather-caption {
}

.modal__close-btn {
} */
