.clothes-section {
  width: 70vw;
}

.clothes-section__container {
  display: flex;
  gap: 20px;
}

.clothes-section__add-new {
  /* border: none;
  background-color: transparent;
  margin-right: 20px;
  padding: 0;
  cursor: pointer; */
}
